body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(44, 13, 13);
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: white;
    text-decoration: none;
}

